@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:wght@100;200;300;600&display=swap");

.home {
  background-color: var(--t2) !important;
  font-family: "Poppins", sans-serif;
}
:root {
  --r1: #183f8c;
  --r2: #9298a6;
  --r3: #f2b035;
  --r4: #f28705;
  --r5: #f28705;
  --r6: #d99441;
  --t1: #010440;
  --t2: #536f94;
  --t3: #038c33;
  --t4: #05f228;
  --t5: #04d924;
}

h1 {
  color: wheat;
  font-weight: 600;
}

.customImage {
  object-fit: contain;
}
 
.gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(38, 38, 38), rgb(6, 78, 59),rgb(120, 113, 108));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* linear-gradient(to left top, rgb(163, 230, 53), rgb(250, 204, 21), rgb(127, 29, 29)) */

.bg-nav {
  background-color: var(--t1);
  color: wheat;
}

.maincards {
  background-color: var(-r5);
}

.bg-kronik {
  background-color: var(--t2);

  box-shadow: 0 8px 32px 0 rgba(86, 91, 167, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

.book-color {
  background-color: var(--t1) !important;
  color: wheat;
}

.card-font {
  color: rgb(223, 207, 179);
  font-size: 13px;
}

.bg-cards {
  background-color: var(--r2);
}

.bg-glass {
  background: rgba(10, 1, 1, 0.4) !important;
  box-shadow: 0 8px 32px 0 rgba(33, 36, 33, 0.37) !important;
  backdrop-filter: blur(3.5px) !important;
  -webkit-backdrop-filter: blur(3.5px) !important;
  border-radius: 10px;
}

  .morder {
    border: 1px solid;
    border-color: #222e3c;
  }

  .radius {
    border-radius: 10px;
  }

.box-1 {
  
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
/* 
  cursor: pointer; */
}

.box-1:hover {
  transform: scale(1.03);
}

.hover {
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

  cursor: pointer;
}

.hover:hover {
  transform: scale(1.03);
}

.box-2 {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.box-3 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box-4 {
  box-shadow: rgba(3, 92, 18, 0.4) 5px 5px, rgba(15, 248, 35, 0.3) 10px 10px,
    rgba(9, 143, 9, 0.2) 15px 15px, rgba(5, 206, 32, 0.1) 20px 20px,
    rgba(0, 24, 10, 0.05) 25px 25px;
}

.box-6 {
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}

.glass-1 {
  background: rgba(156, 33, 33, 0.55);
  box-shadow: 0 8px 32px 0 rgba(39, 40, 46, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
}


.link {
  text-decoration: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}


/* vue3-carousel custom css */
.carousel__next,
.carousel__prev {
  background-color: black !important;
}

.carousel__prev--in-active,
.carousel__next--in-active {
  display: none;
}

.carousel {
  margin: 2px !important;
    padding: 2px !important;
}
